*{
    margin:0px;
    padding: 0px;
}
body{
    background-image: url("background img.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100vh;
}
.header{
    height: 70px;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.522);
}
.name{
    color: white;
    font-size: 30px;
    margin-left: 4%;
    font-family:'Times New Roman', Times, serif;
    letter-spacing:0.2cm;
    font-weight: bolder;
}
.main{
    height: 100%;
    display: flex;
}
.about{
    margin: 10% 10% 4% 8%;
    display: block;
}
.intro{
    color: white ;
    word-spacing:0.1cm;
    font-size: 20px;
}
.designation{
    color: goldenrod;
    font-size: 60px;
}
.bio{
    color: white;
    font-size: 17px;
    font-family:Georgia, 'Times New Roman', Times, serif;  
}
button{
    background-color: goldenrod;
    border-radius: 10px;
    height: 40px;
    width: 150px;
    font-size: 20px;
    font-weight: bolder;
}
.links{
    margin: 0% 10% 4% 8%;
}
.links a{
    padding-right: 5%;
}